body{
    padding-top: 64px;
}

#landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;

    padding: 0 124px;
    padding-bottom: 32px;

}

#landing .left{
    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#landing .left h1{
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;

}

#landing .left h1 span{
    font-style: italic;
    font-size: 46px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #6a20ff 0%, #a127ff 100%);
    background-clip: text;
}

#landing .left > img{
    width: 124px;
    margin-bottom: -24px;
}

#landing .descricao{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

#landing .descricao span{
    font-weight: 300;
    opacity: 0.5;
}

#landing .descricao b{
    color: var(--purple);
}

#landing .right{
    width: 55%;
}

#landing .mockups{
    background: none;
    
    height: fit-content;
}

#landing .mockups .mockup{
    animation: rotate 4s ease-in-out infinite alternate;
    transform: rotate(0deg);
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(10deg);
    }
  }


  @media (max-width: 700px){
    #landing{
        padding: 0 24px;
        padding-top: 80px;
        padding-bottom: 32px;
        flex-direction: column;
    }

    #landing .left{
        width: 100%;
    }

    #landing .left h1{
        font-size: 36px;
        line-height: 46px;
    }

    #landing .left > img{
        width: 64px;
        margin-bottom: -16px;
    }

    #landing .descricao{
        font-size: 13px;
        line-height: 20px;
        width: 95%;
    }

    #landing .mockups{
        display: none;
    }
  }